:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


html, body {
  height: 100%; /* Ensures the root elements take full height */
  margin: 0!important; /* Remove default margin */
  padding: 0!important; /* Remove default padding */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Viewport height to take full screen */
  justify-content: flex-start;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}